.Posts {
    min-height: 500vh;
}

.Post {
    position: relative;

    width: 50vw;
    height: 50vh;
    margin: 1rem;

    background-image: linear-gradient(180deg, #fff 0%, #666 100%);
    border: 1px solid red;
}

.Post-ui {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 20;

    font-size: 0.8rem;
}
